<h1 id="dokumentklassificering">Dokumentklassificering</h1>
<p>Dokumentklassificering utgår från <a href="https://www.bimalliance.se/for-dig-inom-bygg-och-forvaltning/standarder-for-digital-informationshantering/metadata-for-dokumenthantering-metadata-se/">Bygg- och fastighetssektorns rekommendationer för dokumenthantering med metadata</a> och anger dokumentets användning och ska användas för dokument och inte för ritningar.</p>
<h2 id="administrativa-dokument">Administrativa dokument</h2>
<p>Dokument som används i stödjande aktiviteter till kärnprocessen i en organisation.</p>
<h2 id="tekniska-dokument">Tekniska dokument</h2>
<p>Dokument som beskriver byggnadsverk och processer för deras utformning, uppförande och användning.</p>
<h2 id="juridiska-eller-ekonomiska-dokument">Juridiska eller ekonomiska dokument</h2>
<p>Dokument som berör projektets eller byggnadsverkets ekonomiska eller juridiska relationer.</p>
<h2 id="referensdokument">Referensdokument</h2>
<p>Externa dokument som används som kunskapskälla eller underlag i en process.</p>
