<h1 id="skeden">Skeden</h1>
<p>Följande värdelista är en del av metoden Informationsbeteckning- och beskrivning som ger svenska anvisningar för tillämpning av <strong>prEN 17412-1 Building Information Modelling – Level of Information Need – Concepts and principles</strong>. Det visar hur man i en leverans­specifikation ger informationsleveransen en beteckning som övergripande beskriver inne­hållet, och sedan i detalj beskriver innehållet.</p>
<p>Beteckningen för skede visar vilket steg i livscykeln som informationen är avsedd att användas inom. Som exempel får man i produktionen enbart använda informationsmängder som har 4 som första siffra. Följande skeden gäller enligt denna metodbeskrivning:</p>
<table class="marked-table">
  <tbody>
    <tr>
      <td>Beteckning</td>
      <td>Skeden</td>
    </tr>
    <tr>
      <td>0</td>
      <td>Idéskede</td>
    </tr>
    <tr>
      <td>1</td>
      <td>Planeringsskede</td>
    </tr>
    <tr>
      <td>2</td>
      <td>Projekteringsskede</td>
    </tr>
    <tr>
      <td>3</td>
      <td>Upphandling</td>
    </tr>
    <tr>
      <td>4</td>
      <td>Produktionsskede</td>
    </tr>
    <tr>
      <td>5</td>
      <td>Användningsskede</td>
    </tr>
    <tr>
      <td>6</td>
      <td>Avvecklingsskede</td>
    </tr>
  </tbody>
<table>
<p></p>
