<h1 id="redovisningssätt">Redovisningssätt</h1>
<p>Tabellerna nedan redovisar beteckningar för redovisningssätt vid ritningsnumrering och namngivning av filer, samt innehåll i modeller, enligt Bygghandlingar 90 Del 8, och ritningar enligt SS 32271:2016 med kompletteringar.</p>
<h2 id="modeller-2d--3d--objektmodeller-och-basfiler">Modeller (2D-, 3D-, objektmodeller) och basfiler</h2>
<p>Baseras på Bygghandlingar 90 Del 8</p>
<table class="marked-table">
  <tbody>
    <tr>
      <td>Status</td>
      <td>Redovisningssätt</td>
    </tr>
    <tr>
      <td>V</td>
      <td>Volymer, 3D-modeller</td>
    </tr>
    <tr>
      <td>P</td>
      <td>Planer, 2D-modeller</td>
    </tr>
    <tr>
      <td>S</td>
      <td>Sektioner</td>
    </tr>
    <tr>
      <td>F</td>
      <td>Fasader</td>
    </tr>
    <tr>
      <td>U</td>
      <td>Uppställningar, elevationer</td>
    </tr>
    <tr>
      <td>T</td>
      <td>Förteckning</td>
    </tr>
    <tr>
      <td>D</td>
      <td>Detaljer</td>
    </tr>
    <tr>
      <td>X</td>
      <td>Icke-grafisk modell</td>
    </tr>
    <tr>
      <td>C</td>
      <td>Scheman</td>
    </tr>
  </tbody>
<table>
<p></p>
<h2 id="ritningar-och-ritningsdefinitioner">Ritningar och ritningsdefinitioner</h2>
<p>Baseras på SS 32271:2016</p>
<table class="marked-table">
  <tbody>
    <tr>
      <td>Beteckning</td>
      <td>Redovisningssätt</td>
    </tr>
    <tr>
      <td>0</td>
      <td>Sammansatta ritningar</td>
    </tr>
    <tr>
      <td>1</td>
      <td>Planritningar</td>
    </tr>
    <tr>
      <td>2</td>
      <td>Sektioner (snitt, profiler)</td>
    </tr>
    <tr>
      <td>3</td>
      <td>Fasadritningar</td>
    </tr>
    <tr>
      <td>4</td>
      <td>Uppställningsritningar, elevationer</td>
    </tr>
    <tr>
      <td>5</td>
      <td>Förteckningsritningar</td>
    </tr>
    <tr>
      <td>6</td>
      <td>Detaljritningar</td>
    </tr>
    <tr>
      <td>7</td>
      <td>Samordningsritningar</td>
    </tr>
    <tr>
      <td>8</td>
      <td>Scheman</td>
    </tr>
    <tr>
      <td>9*</td>
      <td>Text</td>
    </tr>
  </tbody>
<table>
<p></p>
<h2 id="eventuella-kompletteringar">Eventuella kompletteringar</h2>
<p>Baseras på Bygghandlingar 90 Del 8</p>
<table class="marked-table">
  <tbody>
    <tr>
      <td>Beteckning</td>
      <td>Redovisningssätt</td>
    </tr>
    <tr>
      <td>L</td>
      <td>Linjemodell (avser mark och landskap)</td>
    </tr>
    <tr>
      <td>Z</td>
      <td>Punktmodell (avser underlag från laserskanning)</td>
    </tr>
    <tr>
      <td>Y</td>
      <td>Ytmodell</td>
    </tr>
  </tbody>
<table>
<p></p>
