<h1 id="handling">Handling</h1>
<p>Handlingstyper enligt BEAst Namnruta – Termlista och metadata 2.0 som finns länkat under relaterat till höger.</p>
<table class="marked-table">
  <tbody>
    <tr>
      <td>Handling</td>
    </tr>
    <tr>
      <td>FÖRSTUDIEHANDLING</td>
    </tr>
    <tr>
      <td>PROGRAMHANDLING</td>
    </tr>
    <tr>
      <td>SYSTEMHANDLING</td>
    </tr>
    <tr>
      <td>BYGGLOVSHANDLING</td>
    </tr>
    <tr>
      <td>BYGGHANDLING</td>
    </tr>
    <tr>
      <td>RELATIONSHANDLING</td>
    </tr>
    <tr>
      <td>FÖRVALTNINGSHANDLING</td>
    </tr>
  </tbody>
<table>
<p></p>
