<h1 id="utseende">Utseende</h1>
<p>Följande värdelista är en del av metoden Informationsbeteckning- och beskrivning som ger svenska anvisningar för tillämpning av <strong>prEN 17412-1 Building Information Modelling – Level of Information Need – Concepts and principles</strong>. Det visar hur man i en leverans­specifikation ger informationsleveransen en beteckning som övergripande beskriver inne­hållet, och sedan i detalj beskriver innehållet.</p>
<p>Utseende: visuell representation, från symbolisk till realistisk. Här föreslås följande nivåer:</p>
<p>Förkortningen (0 osv.) används för maskinläsning, medan klartext (Ingen osv.) används för mänsklig läsning.</p>
