<h1 id="kvalificerare-för-egenskaper">Kvalificerare för egenskaper</h1>
<p>Denna värdelista baseras på metoden Kvalificerare för egenskaper som ni finner</p>
<p>Nedan följer Tabell 8 från SEK Handbok, med förtydligande kommentarer anpassade för skedena i byggprocessen. Koden kommer från värdelistor i IEC:s öppna databas.</p>
<table class="marked-table">
  <tbody>
    <tr>
      <td>Kvalificerare</td>
      <td>Betydelse</td>
      <td>Kod</td>
    </tr>
    <tr>
      <td>Egenskapens tidsstämpel</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>SPE</td>
      <td>Som specificerat (As specified): krav från verksamheten i programhandling eller liknande</td>
      <td>AAF579</td>
    </tr>
    <tr>
      <td>INQ</td>
      <td>Som efterfrågat (As inquired): tolkning av projektör i förfrågningsunderlag</td>
      <td>AAF576</td>
    </tr>
    <tr>
      <td>OFF</td>
      <td>Som offererat (As offered): erbjudande från anbudsgivare</td>
      <td>AAF577</td>
    </tr>
    <tr>
      <td>CON</td>
      <td>Som avtalat (As contracted): avtalat efter förhandling mellan beställare och entreprenör</td>
      <td>AAF574</td>
    </tr>
    <tr>
      <td>SUP</td>
      <td>Som levererat (As supplied): specifikation av tillverkare (varuägare) eller leverantör</td>
      <td>AAF580</td>
    </tr>
    <tr>
      <td>BUILT</td>
      <td>Som byggt (As built): redovisat vid överlämnande från entreprenör till beställare</td>
      <td>AAF573</td>
    </tr>
    <tr>
      <td>OP</td>
      <td>Driftsatt (Operated): uppmätt eller konstaterat under driften</td>
      <td>AAF578</td>
    </tr>
    <tr>
      <td>DECOM</td>
      <td>Avvecklat (Decommissioned): redovisning av omhändertagande</td>
      <td>AAF682</td>
    </tr>
    <tr>
      <td>Egenskapens tillämplighet</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>AVP</td>
      <td>Tillämpligt, ett värde ges (Applicable, value provided)</td>
      <td>AAF585</td>
    </tr>
    <tr>
      <td>AVA</td>
      <td>Tillämpligt, värdet är uppskattat (Applicable, value assumed)</td>
      <td>AAF584</td>
    </tr>
    <tr>
      <td>AVN</td>
      <td>Tillämpligt, värde saknas (Applicable, value not assigned)</td>
      <td>AAF581</td>
    </tr>
    <tr>
      <td>NA</td>
      <td>Ej tillämpligt (Not applicable)</td>
      <td>AAF586</td>
    </tr>
    <tr>
      <td>Egenskapsvärdets ursprung</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>EST</td>
      <td>Uppskattat (As estimated)</td>
      <td>AAF588</td>
    </tr>
    <tr>
      <td>CAL</td>
      <td>Beräknat (As calculated)</td>
      <td>AAF587</td>
    </tr>
    <tr>
      <td>MEA</td>
      <td>Uppmätt (As measured)</td>
      <td>AAF589</td>
    </tr>
    <tr>
      <td>SET</td>
      <td>Inställt (As set)</td>
      <td>AAF590</td>
    </tr>
    <tr>
      <td>Egenskapsvärdets beräkning</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>ARITHM</td>
      <td>Medelvärde (Arithmetic mean)</td>
      <td>AAF591</td>
    </tr>
    <tr>
      <td>MED</td>
      <td>Medianvärde (Median)</td>
      <td>AAF594</td>
    </tr>
    <tr>
      <td>MOD</td>
      <td>Typvärde (Mode)</td>
      <td>AAF595</td>
    </tr>
    <tr>
      <td>WARITHM</td>
      <td>Viktat medelvärde (Weighted arithmetic mean)</td>
      <td>AAF597</td>
    </tr>
    <tr>
      <td>GEOM</td>
      <td>Geometriskt medelvärde (Geometric mean)</td>
      <td>AAF592</td>
    </tr>
    <tr>
      <td>HARM</td>
      <td>Harmoniskt medelvärde (Harmonic mean)</td>
      <td>AAF593</td>
    </tr>
    <tr>
      <td>RMS</td>
      <td>Kvadratiskt medelvärde (Root mean square)</td>
      <td>AAF596</td>
    </tr>
  </tbody>
<table>
<p></p>
