<h1 id="syften">Syften</h1>
<p>Följande värdelista är en del av metoden Informationsbeteckning- och beskrivning som ger svenska anvisningar för tillämpning av <strong>SS-EN 17412-1 Building Information Modelling – Level of Information Need – Concepts and principles</strong>. Det visar hur man i en leverans­specifikation ger informationsleveransen en beteckning som övergripande beskriver inne­hållet, och sedan i detalj beskriver innehållet.</p>
<p>En informationsmängd kan ha flera potentiella syften. Syftet med beteckningen är att visa för vilket syfte innehållet är godkänt att använda. I de fall flera syften är godkända läggs flera siffror till, separerade med semikolon. Nedan listas huvudgrupper med typiska handlingar. Hela 10-tal är fasta, medan 1-tal är förslag på finare indelning. Sådan skapas efter behov i varje projekt.</p>
<table class="marked-table">
  <tbody>
    <tr>
      <td>Beteckning</td>
      <td>Skeden</td>
    </tr>
    <tr>
      <td>00</td>
      <td>Planering</td>
    </tr>
    <tr>
      <td>10</td>
      <td>Visualisering</td>
    </tr>
    <tr>
      <td>20</td>
      <td>Kravställning</td>
    </tr>
    <tr>
      <td>30</td>
      <td>Konstruktion</td>
    </tr>
    <tr>
      <td>40</td>
      <td>Ekonomi</td>
    </tr>
    <tr>
      <td>50</td>
      <td>Hållbarhet</td>
    </tr>
    <tr>
      <td>60</td>
      <td>Logistik</td>
    </tr>
    <tr>
      <td>70</td>
      <td>Produktion</td>
    </tr>
    <tr>
      <td>80</td>
      <td>Drift- och underhåll</td>
    </tr>
    <tr>
      <td>90</td>
      <td>Användardefinierat</td>
    </tr>
  </tbody>
<table>
<p></p>
