<h1 id="dimensionaliet">Dimensionaliet</h1>
<p>Följande värdelista är en del av metoden Informationsbeteckning- och beskrivning som ger svenska anvisningar för tillämpning av <strong>prEN 17412-1 Building Information Modelling – Level of Information Need – Concepts and principles</strong>. Det visar hur man i en leverans­specifikation ger informationsleveransen en beteckning som övergripande beskriver inne­hållet, och sedan i detalj beskriver innehållet.</p>
<p>Geometrisk information som ingår i en leverans kan specificeras med avseende på <strong>dimensionalitet</strong> (obligatorisk), <strong>utseende</strong> (om efterfrågad), <strong>detaljeringsgrad</strong> (om efterfrågad), <strong>lokalisering</strong> (obligatorisk) och <strong>parametriskt beteende</strong> (om efterfrågat).</p>
<table class="marked-table">
  <tbody>
    <tr>
      <td>Beteckning</td>
      <td>Förklaring</td>
    </tr>
    <tr>
      <td>0D_icke-grafisk</td>
      <td>objektet beskrivs enbart alfanumeriskt</td>
    </tr>
    <tr>
      <td>2DP 2D Punktobjekt</td>
      <td>punktobjekt (0D) lägesbestämt i två dimensioner.</td>
    </tr>
    <tr>
      <td>3DP 3D Punktobjekt</td>
      <td>punktobjekt (0D) lägesbestämt i tre dimensioner.</td>
    </tr>
    <tr>
      <td>2DL 2D Linjeobjekt</td>
      <td>linjeobjekt (1D) lägesbestämt i två dimensioner.</td>
    </tr>
    <tr>
      <td>3DL 3D Linjeobjekt</td>
      <td>linjeobjekt (1D) lägesbestämt i tre dimensioner.</td>
    </tr>
    <tr>
      <td>2DY 2D</td>
      <td>Ytobjekt ytobjekt (2D) lägesbestämt i två dimensioner.</td>
    </tr>
    <tr>
      <td>3DY 3D</td>
      <td>Ytobjekt ytobjekt (3D) lägesbestämt i tre dimensioner.</td>
    </tr>
    <tr>
      <td>3DS 3D Solidobjekt</td>
      <td>solidobjekt (3D) lägesbestämt i tre dimensioner.</td>
    </tr>
  </tbody>
<table>
<p></p>
