<h1 id="livscykelprocess-för-byggd-miljö">Livscykelprocess för byggd miljö</h1>
<p>Nedan följer förslag på skedesindelning av bygg- och förvaltningsprocessen, baserad på <em>SS-EN 16310:2013 Engineering services – Terminology to describe engineering services for buildings, infrastructure and industrial facilities</em>.</p>
