<h1 id="presentation">Presentation</h1>
<p>Presentationskoden klassificerar lager med ledning av, och typ av grafik CAD-lagret innehåller. Presentationskoden anges i Position 9 och 10 (när ytterligare indelning erfordras).</p>
<p>För att underlätta användningen bör lagerindelningen hålla en enhetlig nivå på alla CAD-filer i ett projekt eller i en modell. Nivåindelningen bör begränsas till vad som är nödvändigt för att åstadkomma olika typer av presentation eller ritningar.</p>
<table class="marked-table">
  <tbody>
    <tr>
      <td>Nivå 0</td>
      <td>Nivå 1</td>
      <td>Nivå 2</td>
      <td>Nivå 3</td>
      <td>Nivå 4</td>
      <td>Anmärkning</td>
    </tr>
    <tr>
      <td>--</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td>Ingen lagerindelning m.a.p. presentation</td>
    </tr>
    <tr>
      <td></td>
      <td>M-</td>
      <td></td>
      <td></td>
      <td></td>
      <td>Modell (Model)</td>
    </tr>
    <tr>
      <td></td>
      <td></td>
      <td>E-</td>
      <td>tabell</td>
      <td></td>
      <td>Beskrivande grafik (Element graphics)</td>
    </tr>
    <tr>
      <td></td>
      <td></td>
      <td>A-</td>
      <td>tabell</td>
      <td></td>
      <td>Noteringar (Annotations)</td>
    </tr>
    <tr>
      <td></td>
      <td></td>
      <td></td>
      <td>T-</td>
      <td>tabell</td>
      <td>Text i modellen (Text)</td>
    </tr>
    <tr>
      <td></td>
      <td></td>
      <td></td>
      <td>H-</td>
      <td>tabell</td>
      <td>Skraffering (Hatchning)</td>
    </tr>
    <tr>
      <td></td>
      <td></td>
      <td></td>
      <td>D-</td>
      <td>tabell</td>
      <td>Måttsättning (Dimensions)</td>
    </tr>
    <tr>
      <td></td>
      <td></td>
      <td></td>
      <td>J-</td>
      <td>tabell</td>
      <td>Sektions- och detaljmarkeringar (Section/detail marks)</td>
    </tr>
    <tr>
      <td></td>
      <td></td>
      <td></td>
      <td>K-</td>
      <td>tabell</td>
      <td>Ändringsmarkeringar (Revision marks)</td>
    </tr>
    <tr>
      <td></td>
      <td></td>
      <td>G-</td>
      <td>tabell</td>
      <td></td>
      <td>Systemlinjer (Grid)</td>
    </tr>
    <tr>
      <td></td>
      <td></td>
      <td></td>
      <td>Y-</td>
      <td>tabell</td>
      <td>Grafik för systemlinjer (Grid graphics)</td>
    </tr>
    <tr>
      <td></td>
      <td></td>
      <td></td>
      <td>Z-</td>
      <td>tabell</td>
      <td>Måttsättning för systemlinjer (Grid dimension)</td>
    </tr>
    <tr>
      <td></td>
      <td></td>
      <td>U-</td>
      <td></td>
      <td></td>
      <td>Användarspecifikt (User)</td>
    </tr>
    <tr>
      <td></td>
      <td></td>
      <td></td>
      <td>R-</td>
      <td>ej anv</td>
      <td>Förslag till ändringar (Redlines)</td>
    </tr>
    <tr>
      <td></td>
      <td></td>
      <td></td>
      <td>C-</td>
      <td>tabell</td>
      <td>Konstruktionslinjer (Construction lines)</td>
    </tr>
    <tr>
      <td></td>
      <td>P-</td>
      <td></td>
      <td></td>
      <td></td>
      <td>Ritning (Page/Paper)</td>
    </tr>
    <tr>
      <td></td>
      <td></td>
      <td>B-</td>
      <td></td>
      <td></td>
      <td>Blankett (Border)</td>
    </tr>
    <tr>
      <td></td>
      <td></td>
      <td></td>
      <td>F-</td>
      <td>tabell</td>
      <td>Ramar (Border lines (Frame))</td>
    </tr>
    <tr>
      <td></td>
      <td></td>
      <td></td>
      <td>O-</td>
      <td>tabell</td>
      <td>Annan grafik (Other graphics)</td>
    </tr>
    <tr>
      <td></td>
      <td></td>
      <td>V-</td>
      <td>tabell</td>
      <td></td>
      <td>Text (Text)</td>
    </tr>
    <tr>
      <td></td>
      <td></td>
      <td></td>
      <td>W-</td>
      <td>tabell</td>
      <td>Namnrutans text (Title)</td>
    </tr>
    <tr>
      <td></td>
      <td></td>
      <td></td>
      <td>N-</td>
      <td>ej anv</td>
      <td>Anteckningar (Notes)</td>
    </tr>
    <tr>
      <td></td>
      <td></td>
      <td>I-</td>
      <td></td>
      <td></td>
      <td>Förtecknande information (Tabular information)</td>
    </tr>
    <tr>
      <td></td>
      <td></td>
      <td></td>
      <td>L-</td>
      <td>ej anv</td>
      <td>Teckenförklaringar (Legends)</td>
    </tr>
    <tr>
      <td></td>
      <td></td>
      <td></td>
      <td>S-</td>
      <td>ej anv</td>
      <td>Scheman (Schedules)</td>
    </tr>
    <tr>
      <td></td>
      <td></td>
      <td></td>
      <td>Q</td>
      <td>ej anv</td>
      <td>Tabeller (Tables (Query))</td>
    </tr>
  </tbody>
<table>
<p><em>Avser Tabell 5.11a i boken ”SB-Rekommendationer 11 – CAD-lager”, sid 90-91.</em></p>
<table class="marked-table">
  <tbody>
    <tr>
      <td>Presentationskod</td>
      <td>Beskrivning</td>
      <td></td>
      <td></td>
      <td></td>
      <td>Anmärkning</td>
    </tr>
    <tr>
      <td>M-</td>
      <td>Modell</td>
      <td></td>
      <td></td>
      <td></td>
      <td>Nivå 1</td>
    </tr>
    <tr>
      <td>E-</td>
      <td></td>
      <td>Beskrivande grafik</td>
      <td></td>
      <td></td>
      <td>Nivå 2</td>
    </tr>
    <tr>
      <td>EB</td>
      <td></td>
      <td></td>
      <td>Grafik (skalberoende) för byggdelar</td>
      <td></td>
      <td>Nivå 3 Används för symboler, som ska ha en given storlek på ritningen, men inte visar verkliga mått</td>
    </tr>
    <tr>
      <td>ED</td>
      <td></td>
      <td></td>
      <td>Detaljer/snitt</td>
      <td></td>
      <td>Kan användas för t.ex. förklarande detaljer i avvikande skala</td>
    </tr>
    <tr>
      <td>EE</td>
      <td></td>
      <td></td>
      <td>Illustration</td>
      <td></td>
      <td>Kan användas t.ex. för personfigurer som illustrerar skalan på en vy</td>
    </tr>
    <tr>
      <td>EF</td>
      <td></td>
      <td></td>
      <td>Slänktmarkering, lutningsriktning, lågpunktslinje</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>EI</td>
      <td></td>
      <td></td>
      <td>Snitt (skuren)</td>
      <td></td>
      <td>Används i plan för objekt med vertikal utsträckning (väggar, murar, kantstöd m.m.)</td>
    </tr>
    <tr>
      <td>EJ</td>
      <td></td>
      <td></td>
      <td>Bortom, synlig</td>
      <td></td>
      <td>Används i plan för materialgränser</td>
    </tr>
    <tr>
      <td>EK</td>
      <td></td>
      <td></td>
      <td>Bortom, dold</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>EL</td>
      <td></td>
      <td></td>
      <td>Hitom, syndlig</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>EM</td>
      <td></td>
      <td></td>
      <td>Hitom, dold</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>EO</td>
      <td></td>
      <td></td>
      <td>Grafik (skaloberoende) för byggdelar</td>
      <td></td>
      <td>Obs! Bokstaven O, ej siffran 0. Bör ej användas tillsammans med EI-EM, utan endast som samlingsbeteckning för dessa</td>
    </tr>
    <tr>
      <td>EP</td>
      <td></td>
      <td></td>
      <td>* Profil</td>
      <td></td>
      <td>Ny kod. Används för redovisning av väg och järnväg i profil.</td>
    </tr>
    <tr>
      <td>ES</td>
      <td></td>
      <td></td>
      <td>* Sektion</td>
      <td></td>
      <td>Ny kod. Användas för redovisning av väg och järnväg i sektion.</td>
    </tr>
    <tr>
      <td>EZ</td>
      <td></td>
      <td></td>
      <td>3D grafik</td>
      <td></td>
      <td>Används endast för 3-dimensionella objekt, ej för ytor/linjer</td>
    </tr>
    <tr>
      <td>E0</td>
      <td></td>
      <td></td>
      <td>Kolliderande funktioner</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>E1</td>
      <td></td>
      <td></td>
      <td>Funktionens friutrymme</td>
      <td></td>
      <td>Kan användas för t.ex. markering av körbanor</td>
    </tr>
    <tr>
      <td>E2</td>
      <td></td>
      <td></td>
      <td>Normenligt friutrymme</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>E3</td>
      <td></td>
      <td></td>
      <td>Montering/demontering friutrymme</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>E4</td>
      <td></td>
      <td></td>
      <td>Service friutrymme</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>E5</td>
      <td></td>
      <td></td>
      <td>Övriga betjäningsområden friutrymme</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>E6</td>
      <td></td>
      <td></td>
      <td>Installationsanslutningar</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>E7</td>
      <td></td>
      <td></td>
      <td>Övriga anslutningar</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>E8</td>
      <td></td>
      <td></td>
      <td>Monteringspunkter</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>E9</td>
      <td></td>
      <td></td>
      <td>Betjänings/kontrollpunkter</td>
      <td></td>
      <td>Kan användas för t.ex. förvaltningsändamål</td>
    </tr>
    <tr>
      <td>A-</td>
      <td></td>
      <td>Noteringar</td>
      <td></td>
      <td></td>
      <td>Nivå 2</td>
    </tr>
    <tr>
      <td>A1</td>
      <td></td>
      <td></td>
      <td>CAD-adm, t.ex. insättningspunkt, referenslinje</td>
      <td></td>
      <td>Nivå 3</td>
    </tr>
    <tr>
      <td>AA</td>
      <td></td>
      <td></td>
      <td>CAD-systemberoende lager osv. till AZ</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>AZ</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>T-</td>
      <td></td>
      <td></td>
      <td>Text</td>
      <td></td>
      <td>Nivå 3 inkl ledlinjer</td>
    </tr>
    <tr>
      <td>T1</td>
      <td></td>
      <td></td>
      <td></td>
      <td>Namn, beteckning</td>
      <td>Nivå 4 beskrivande text</td>
    </tr>
    <tr>
      <td>T2</td>
      <td></td>
      <td></td>
      <td></td>
      <td>Littera</td>
      <td>Typbeteckningar</td>
    </tr>
    <tr>
      <td>T3</td>
      <td></td>
      <td></td>
      <td></td>
      <td>Mängd, area</td>
      <td>Mängduppgift</td>
    </tr>
    <tr>
      <td>T4</td>
      <td></td>
      <td></td>
      <td></td>
      <td>Identitet, nummer</td>
      <td>Identifierande beteckning</td>
    </tr>
    <tr>
      <td>T5</td>
      <td></td>
      <td></td>
      <td></td>
      <td>* Beteckning nivåkurva</td>
      <td>Ny kod</td>
    </tr>
    <tr>
      <td>H-</td>
      <td></td>
      <td></td>
      <td>Skraffering</td>
      <td></td>
      <td>Nivå 3</td>
    </tr>
    <tr>
      <td>H1</td>
      <td></td>
      <td></td>
      <td></td>
      <td>Ytmarkering</td>
      <td>Nivå 4</td>
    </tr>
    <tr>
      <td>H2</td>
      <td></td>
      <td></td>
      <td></td>
      <td>Mönsterlinjer</td>
      <td></td>
    </tr>
    <tr>
      <td>D-</td>
      <td></td>
      <td></td>
      <td>Måttsättning</td>
      <td></td>
      <td>Nivå 3</td>
    </tr>
    <tr>
      <td>D1</td>
      <td></td>
      <td></td>
      <td></td>
      <td>Huvudmått</td>
      <td>Nivå 4</td>
    </tr>
    <tr>
      <td>D2</td>
      <td></td>
      <td></td>
      <td></td>
      <td>Detaljmått</td>
      <td></td>
    </tr>
    <tr>
      <td>D3</td>
      <td></td>
      <td></td>
      <td></td>
      <td>Plushöjd</td>
      <td></td>
    </tr>
    <tr>
      <td>J-</td>
      <td></td>
      <td></td>
      <td>Sektions och detaljmarkeringar</td>
      <td></td>
      <td>Nivå 3</td>
    </tr>
    <tr>
      <td>J1</td>
      <td></td>
      <td></td>
      <td></td>
      <td>Sektionslinje/snittlinje</td>
      <td>Nivå 4</td>
    </tr>
    <tr>
      <td>J2</td>
      <td></td>
      <td></td>
      <td></td>
      <td>Sektionspilar</td>
      <td></td>
    </tr>
    <tr>
      <td>J3</td>
      <td></td>
      <td></td>
      <td></td>
      <td>Text till sektionspilar</td>
      <td></td>
    </tr>
    <tr>
      <td>K-</td>
      <td></td>
      <td></td>
      <td>Ändringsmarkeringar</td>
      <td></td>
      <td>Nivå 3</td>
    </tr>
    <tr>
      <td>K1</td>
      <td></td>
      <td></td>
      <td></td>
      <td>Ändringspil (inkl. bokstav)</td>
      <td>Nivå 4 Pil används inte längre enligt SS 32206:2008</td>
    </tr>
    <tr>
      <td>K2</td>
      <td></td>
      <td></td>
      <td></td>
      <td>Ändringsmoln (inkl. skraff. i pil)</td>
      <td>Pil används inte längre enligt SS 32206:2008</td>
    </tr>
    <tr>
      <td>K3</td>
      <td></td>
      <td></td>
      <td></td>
      <td>Ändringsruta</td>
      <td></td>
    </tr>
    <tr>
      <td>K4</td>
      <td></td>
      <td></td>
      <td></td>
      <td>Ändringstext i ruta</td>
      <td></td>
    </tr>
    <tr>
      <td>KA</td>
      <td></td>
      <td></td>
      <td></td>
      <td>Ändringstext för delritning A i ritningsfil</td>
      <td></td>
    </tr>
    <tr>
      <td>KZ</td>
      <td></td>
      <td></td>
      <td></td>
      <td>osv till KZ</td>
      <td></td>
    </tr>
    <tr>
      <td>G-</td>
      <td></td>
      <td>Systemlinjer</td>
      <td></td>
      <td></td>
      <td>Nivå 2</td>
    </tr>
    <tr>
      <td>G1</td>
      <td></td>
      <td></td>
      <td>Konnektionslinje, huvudskala</td>
      <td></td>
      <td>Nivå 3. Används för konnektionslinjer för ritningarnas huvudskala, vanligen 1:50</td>
    </tr>
    <tr>
      <td>G2</td>
      <td></td>
      <td></td>
      <td>Konnektionslinje, alternativ skala osv. till G9</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>G9</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>Y-</td>
      <td></td>
      <td></td>
      <td>Grafik för systemlinjer</td>
      <td></td>
      <td>Nivå 3</td>
    </tr>
    <tr>
      <td>Y1</td>
      <td></td>
      <td></td>
      <td></td>
      <td>Stomlinjer/Systemlinjer</td>
      <td>Nivå 4</td>
    </tr>
    <tr>
      <td>Y2</td>
      <td></td>
      <td></td>
      <td></td>
      <td>D:o ringar</td>
      <td></td>
    </tr>
    <tr>
      <td>Y3</td>
      <td></td>
      <td></td>
      <td></td>
      <td>Modulnät</td>
      <td></td>
    </tr>
    <tr>
      <td>Y4</td>
      <td></td>
      <td></td>
      <td></td>
      <td>Sekundärnät (=baslinjer)</td>
      <td></td>
    </tr>
    <tr>
      <td>Y5</td>
      <td></td>
      <td></td>
      <td></td>
      <td>Koordinater</td>
      <td></td>
    </tr>
    <tr>
      <td>Y6</td>
      <td></td>
      <td></td>
      <td></td>
      <td>Nivåkurvor</td>
      <td></td>
    </tr>
    <tr>
      <td>Y7</td>
      <td></td>
      <td></td>
      <td></td>
      <td>Primärnät</td>
      <td>Ny kod. Används för punkter i primärnätet</td>
    </tr>
    <tr>
      <td>Y8</td>
      <td></td>
      <td></td>
      <td></td>
      <td>Administrativa gränser</td>
      <td>Ny kod. Används för fastighetsgränser, arbetsområdesgränser och liknande.</td>
    </tr>
    <tr>
      <td>Z-</td>
      <td></td>
      <td></td>
      <td>Måttsättning för systemlinjer</td>
      <td></td>
      <td>Nivå 3</td>
    </tr>
    <tr>
      <td>Z1</td>
      <td></td>
      <td></td>
      <td></td>
      <td>Stomlinjer, måttsättning</td>
      <td>Nivå 4</td>
    </tr>
    <tr>
      <td>U-</td>
      <td></td>
      <td>Användarspecifikt</td>
      <td></td>
      <td></td>
      <td>Nivå 2</td>
    </tr>
    <tr>
      <td>R-</td>
      <td></td>
      <td></td>
      <td>Förslag till ändringar</td>
      <td></td>
      <td>Nivå 3</td>
    </tr>
    <tr>
      <td>C-</td>
      <td></td>
      <td></td>
      <td>Konstruktionslinjer</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>C1</td>
      <td></td>
      <td></td>
      <td></td>
      <td>Konstruktionslinjer, grupplinjer</td>
      <td>Nivå 4</td>
    </tr>
    <tr>
      <td>C2</td>
      <td></td>
      <td></td>
      <td></td>
      <td>Mätlinjer för byggdelar</td>
      <td></td>
    </tr>
    <tr>
      <td>C3</td>
      <td></td>
      <td></td>
      <td></td>
      <td>Centrumlinje</td>
      <td></td>
    </tr>
    <tr>
      <td>C4</td>
      <td></td>
      <td></td>
      <td></td>
      <td>Konturlinje</td>
      <td></td>
    </tr>
    <tr>
      <td>P-</td>
      <td>Ritning</td>
      <td></td>
      <td></td>
      <td></td>
      <td>Nivå 1</td>
    </tr>
    <tr>
      <td>B-</td>
      <td></td>
      <td>Blankett</td>
      <td></td>
      <td></td>
      <td>Nivå 2</td>
    </tr>
    <tr>
      <td>F-</td>
      <td></td>
      <td></td>
      <td>Ramar</td>
      <td></td>
      <td>Nivå 3</td>
    </tr>
    <tr>
      <td>F1</td>
      <td></td>
      <td></td>
      <td></td>
      <td>Ram</td>
      <td>Nivå 4</td>
    </tr>
    <tr>
      <td>F2</td>
      <td></td>
      <td></td>
      <td></td>
      <td>Namnruta</td>
      <td></td>
    </tr>
    <tr>
      <td>F3</td>
      <td></td>
      <td></td>
      <td></td>
      <td>Centreringsmärken</td>
      <td></td>
    </tr>
    <tr>
      <td>O-</td>
      <td></td>
      <td></td>
      <td>Annan grafik</td>
      <td></td>
      <td>Nivå 3</td>
    </tr>
    <tr>
      <td>O1</td>
      <td></td>
      <td></td>
      <td></td>
      <td>Logotyp</td>
      <td>Nivå 4</td>
    </tr>
    <tr>
      <td>O2</td>
      <td></td>
      <td></td>
      <td></td>
      <td>Lokaliseringsplan (inkl norrpil)</td>
      <td></td>
    </tr>
    <tr>
      <td>O3</td>
      <td></td>
      <td></td>
      <td></td>
      <td>Lokaliseringssektion</td>
      <td></td>
    </tr>
    <tr>
      <td>O4</td>
      <td></td>
      <td></td>
      <td></td>
      <td>Skalsticka</td>
      <td></td>
    </tr>
    <tr>
      <td>O5</td>
      <td></td>
      <td></td>
      <td></td>
      <td>Skannad grafik</td>
      <td></td>
    </tr>
    <tr>
      <td>O6</td>
      <td></td>
      <td></td>
      <td></td>
      <td>Streckkod</td>
      <td></td>
    </tr>
    <tr>
      <td>V-</td>
      <td></td>
      <td>Text</td>
      <td></td>
      <td></td>
      <td>Nivå 2</td>
    </tr>
    <tr>
      <td>V1</td>
      <td></td>
      <td></td>
      <td>Referens, plott (inkl. fil) och lagertexter</td>
      <td></td>
      <td>Nivå 3</td>
    </tr>
    <tr>
      <td>V2</td>
      <td></td>
      <td></td>
      <td>Text generellt</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>V3</td>
      <td></td>
      <td></td>
      <td>Anvisningar</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>V4</td>
      <td></td>
      <td></td>
      <td>Hänvisningar</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>W-</td>
      <td></td>
      <td></td>
      <td>Namnrutans text</td>
      <td></td>
      <td>Nivå 3</td>
    </tr>
    <tr>
      <td>W1</td>
      <td></td>
      <td></td>
      <td></td>
      <td>Text i namnrutan</td>
      <td>Nivå 4</td>
    </tr>
    <tr>
      <td>WA</td>
      <td></td>
      <td></td>
      <td></td>
      <td>Text i d:o m.m. för delritning A</td>
      <td></td>
    </tr>
    <tr>
      <td>WZ</td>
      <td></td>
      <td></td>
      <td></td>
      <td>osv. till WZ</td>
      <td></td>
    </tr>
    <tr>
      <td>N-</td>
      <td></td>
      <td></td>
      <td>Anteckningar</td>
      <td></td>
      <td>Nivå 3</td>
    </tr>
    <tr>
      <td>I-</td>
      <td></td>
      <td>Förtecknande information</td>
      <td></td>
      <td></td>
      <td>Nivå 2</td>
    </tr>
    <tr>
      <td>L-</td>
      <td></td>
      <td></td>
      <td>Teckenförklaringar</td>
      <td></td>
      <td>Nivå 3</td>
    </tr>
    <tr>
      <td>S-</td>
      <td></td>
      <td></td>
      <td>Scheman</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>Q-</td>
      <td></td>
      <td></td>
      <td>Tabeller</td>
      <td></td>
      <td></td>
    </tr>
  </tbody>
<table>
<p><em>Avser Tabell 5.11b i boken ”SB-Rekommendationer 11 – CAD-lager”, sid 91-94.</em></p>
