<h1 id="säkerhetsklass">Säkerhetsklass</h1>
<p>Information klassificeras utifrån konsekvenser som oönskad påverkan på informationens kvalitet bedöms leda till. Bedömningen ger fem klasser:</p>
<p>0 – Ingen eller försumbar skada</p>
<p>1 – Måttlig skada</p>
<p>2 – Betydande skada</p>
<p>3 – Allvarlig skada</p>
<p>4 – Synnerligen allvarlig skada – Information som omfattas av sekretess och rör Sveriges säkerhet (hemliga uppgifter). Vid hantering av hemliga uppgifter ska Säkerhetsskyddslagstiftningen och Säkerhetsskyddsförordningen beaktas.</p>
