<h1 id="färgkodning-ifc-modeller">Färgkodning IFC-modeller</h1>
<p>Följande färgkoder rekommenderas för IFC-modeller med syfte att få stöd med att visuellt och entydigt kunna identifiera system och objekt i modeller.</p>
<table class="marked-table">
  <tbody>
    <tr>
      <td>Disciplin</td>
      <td>Modell</td>
      <td>Byggdel/System</td>
      <td>Beskrivning</td>
      <td>RGB</td>
      <td>Färg</td>
    </tr>
    <tr>
      <td>A</td>
      <td>A-40</td>
      <td>Samtliga</td>
      <td>Orginalfärger</td>
      <td>-</td>
      <td>-</td>
    </tr>
    <tr>
      <td>K</td>
      <td>K-20</td>
      <td>Stål</td>
      <td>Röd</td>
      <td>255, 0, 0</td>
      <td># FF0000</td>
    </tr>
    <tr>
      <td></td>
      <td></td>
      <td>Betong</td>
      <td>Grå</td>
      <td>128, 128, 128</td>
      <td># 808080</td>
    </tr>
    <tr>
      <td></td>
      <td></td>
      <td>Bärande väggar</td>
      <td>Turkos</td>
      <td>0, 255, 255</td>
      <td># 00FFFF</td>
    </tr>
    <tr>
      <td></td>
      <td></td>
      <td>Limträ</td>
      <td>Ljusbrun</td>
      <td>187, 94, 10</td>
      <td># BB5E0A</td>
    </tr>
    <tr>
      <td></td>
      <td></td>
      <td>Bef. konstruktion</td>
      <td>Brandgul</td>
      <td>255, 153, 0</td>
      <td># FF9900</td>
    </tr>
    <tr>
      <td>KP</td>
      <td>KP-23</td>
      <td>Bärande väggar</td>
      <td>Gråblå</td>
      <td>123, 161, 168</td>
      <td># 7BA1A8</td>
    </tr>
    <tr>
      <td></td>
      <td>KP-23</td>
      <td>Betong</td>
      <td>Vit</td>
      <td>255, 255, 255</td>
      <td># FFFFFF</td>
    </tr>
    <tr>
      <td></td>
      <td>KP-24</td>
      <td>Stål</td>
      <td>Svart</td>
      <td>0, 0, 0</td>
      <td># 000000</td>
    </tr>
    <tr>
      <td>E</td>
      <td>E-60</td>
      <td>Kanalisation</td>
      <td>Lila</td>
      <td>128, 0, 128</td>
      <td># 800080</td>
    </tr>
    <tr>
      <td></td>
      <td></td>
      <td>Armaturer</td>
      <td>Vit</td>
      <td>255, 255, 255</td>
      <td># FFFFFF</td>
    </tr>
    <tr>
      <td></td>
      <td></td>
      <td>Eldistributionsnät</td>
      <td>Rosa</td>
      <td>255, 153, 153</td>
      <td># FF9999</td>
    </tr>
    <tr>
      <td></td>
      <td></td>
      <td>Tomrör</td>
      <td>Orange</td>
      <td>255, 89, 48</td>
      <td># 005A30</td>
    </tr>
    <tr>
      <td></td>
      <td></td>
      <td>Brandsläckare/larmdon</td>
      <td>Röd</td>
      <td>255, 0, 0</td>
      <td># FF0000</td>
    </tr>
    <tr>
      <td></td>
      <td></td>
      <td>Håltagning (ProvisionForVoid)</td>
      <td>Transparent</td>
      <td>57%</td>
      <td>-</td>
    </tr>
    <tr>
      <td>V</td>
      <td>V-57</td>
      <td>Tilluft</td>
      <td>Gul</td>
      <td>255, 255, 0</td>
      <td># FFFF00</td>
    </tr>
    <tr>
      <td></td>
      <td></td>
      <td>Frånluft</td>
      <td>Grön</td>
      <td>0, 255, 0</td>
      <td># 00FF00</td>
    </tr>
    <tr>
      <td></td>
      <td></td>
      <td>Överströmningsdon</td>
      <td>Grön</td>
      <td>0, 255, 0</td>
      <td># 00FF00</td>
    </tr>
    <tr>
      <td></td>
      <td></td>
      <td>Ventilationsaggregat</td>
      <td>Vit</td>
      <td>255, 255, 255</td>
      <td># FFFFFF</td>
    </tr>
    <tr>
      <td></td>
      <td></td>
      <td>Håltagning (ProvisionForVoid)</td>
      <td>Transparent</td>
      <td>57%</td>
      <td>-</td>
    </tr>
    <tr>
      <td>SPR</td>
      <td>V-54</td>
      <td>Sprinkler</td>
      <td>Rosa</td>
      <td>255, 0, 255</td>
      <td># FF00FF</td>
    </tr>
    <tr>
      <td>W</td>
      <td>W-56</td>
      <td>Värmesystem</td>
      <td>Brandgul</td>
      <td>255, 171, 47</td>
      <td># FFAB2F</td>
    </tr>
    <tr>
      <td></td>
      <td>W-52B</td>
      <td>Övrigt Tappvattensystem</td>
      <td>Grå</td>
      <td>75, 94, 118</td>
      <td># 4B5E76</td>
    </tr>
    <tr>
      <td></td>
      <td></td>
      <td>Kallvatten</td>
      <td>Blå</td>
      <td>0, 0, 255</td>
      <td># 0000FF</td>
    </tr>
    <tr>
      <td></td>
      <td></td>
      <td>Varmvatten</td>
      <td>Röd</td>
      <td>255, 0, 0</td>
      <td># FF0000</td>
    </tr>
    <tr>
      <td></td>
      <td>W-53</td>
      <td>Spillvattensystem</td>
      <td>Beige</td>
      <td>203, 166, 44</td>
      <td># CBA62C</td>
    </tr>
    <tr>
      <td></td>
      <td></td>
      <td>Dagvatten</td>
      <td>Beige</td>
      <td>203, 166, 44</td>
      <td># CBA62C</td>
    </tr>
    <tr>
      <td></td>
      <td>W-55</td>
      <td>Kylsystem</td>
      <td>Blå</td>
      <td>0, 175, 240</td>
      <td># 00AFF0</td>
    </tr>
    <tr>
      <td></td>
      <td>W-52H</td>
      <td>Gassystem</td>
      <td>Vit</td>
      <td>255, 255, 255</td>
      <td># FFFFFF</td>
    </tr>
    <tr>
      <td></td>
      <td>W-50</td>
      <td>Vakuumutsug</td>
      <td>Mörkbrun</td>
      <td>128, 64,64</td>
      <td># 804040</td>
    </tr>
    <tr>
      <td></td>
      <td>Avlopp</td>
      <td>Håltagning (ProvisionForVoid)</td>
      <td>Transparent</td>
      <td>57%</td>
      <td>-</td>
    </tr>
    <tr>
      <td>W1</td>
      <td>W1-53</td>
      <td>Sopsug</td>
      <td>Orginalfärger</td>
      <td>-</td>
      <td>-</td>
    </tr>
    <tr>
      <td>Alla</td>
      <td>Alla</td>
      <td>Isolering</td>
      <td>Transparent</td>
      <td>50%</td>
      <td>-</td>
    </tr>
    <tr>
      <td>M</td>
      <td>M-30</td>
      <td>Mark</td>
      <td>Orginalfärger</td>
      <td>-</td>
      <td>-</td>
    </tr>
    <tr>
      <td>T</td>
      <td>T-750</td>
      <td>Rörpost</td>
      <td>Ljuslila</td>
      <td>204, 204, 255</td>
      <td># CCCCFF</td>
    </tr>
  </tbody>
<table>
<p></p>
