<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="author" content="">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <title>Färgkodning IFC-modeller - nrb-vardelistor</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
  </head>
  <body>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <small><a href="../index.html">Tillbaka</a></small>
                <h1>Färgkodning IFC-modeller</h1>
                <h2>nrb-vardelistor</h2>
                <hr>
                <p>Den här värdelistan innehåller beteckningar för färgkodning i IFC-modeller</p>

                  <ul>
                    <li><strong>Status</strong> - Fastställd</li>
                  </ul>

                <p>.html</p>



                <a href="fargkodning-ifc-modeller.partial.html" target="_location">Öppna i webbläsare</a>

                <a href="fargkodning-ifc-modeller.partial.html" download>Ladda ner</a>

                <a href="fargkodning-ifc-modeller.partial.html.meta.json">Se meta fil</a>

                <footer>
                    <hr>
                    <small>Detta dokument är automatgenererat Wed, 28 Sep 2022 22:08:40 GMT från ver. 1.0.0</small>
                </footer>
            </div>
        </div>
    </body>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
  </body>
</html>
