<h1 id="bestämningsgrad">Bestämningsgrad</h1>
<p>Följande värdelista är en del av metoden Informationsbeteckning- och beskrivning som ger svenska anvisningar för tillämpning av <strong>prEN 17412-1 Building Information Modelling – Level of Information Need – Concepts and principles</strong>. Det visar hur man i en leverans­specifikation ger informationsleveransen en beteckning som övergripande beskriver inne­hållet, och sedan i detalj beskriver innehållet.</p>
<p>Bestämningsgrad är en sammanfattande beteckning på hur långt huvuddelen av innehållet i informations­mängden är bestämt avseende geometrisk och alfanumerisk information. Enskilda objekt –system och komponenter – kan ha avvikande bestämningsgrad.</p>
<table class="marked-table">
  <tbody>
    <tr>
      <td>Beteckning</td>
      <td>Skeden</td>
    </tr>
    <tr>
      <td>F</td>
      <td>Funktion</td>
    </tr>
    <tr>
      <td>K</td>
      <td>Konstruktion</td>
    </tr>
    <tr>
      <td>P</td>
      <td>komPonent</td>
    </tr>
    <tr>
      <td>A</td>
      <td>Artikel</td>
    </tr>
  </tbody>
<table>
<p></p>
