<h1 id="status">Status</h1>
<p>Granskningsstatus enligt BEAst Namnruta – Termlista och metadata 2.0</p>
<table class="marked-table">
  <tbody>
    <tr>
      <td>Granskningsstatus</td>
    </tr>
    <tr>
      <td>INFORMATION</td>
    </tr>
    <tr>
      <td>PRELIMINÄR</td>
    </tr>
    <tr>
      <td>GRANSKNING</td>
    </tr>
    <tr>
      <td>GODKÄND</td>
    </tr>
    <tr>
      <td>FÖRFRÅGNINGSUNDERLAG</td>
    </tr>
    <tr>
      <td>KONTRAKT</td>
    </tr>
  </tbody>
<table>
<p></p>
