<h1 id="våningsplan">Våningsplan</h1>
<p>Våningsplan anges på olika sätt beroende på var de anges. Exempelvis kan dess ID anges i ritningsnumrering, Beteckning i modeller, och Benämning på ritningar. Nedan tabell redovisar systematik för detta. Tabellens omfattning ökar eller minskar beroende på projektets storlek.</p>
<table class="marked-table">
  <tbody>
    <tr>
      <td>ID</td>
      <td>Beteckning</td>
      <td>Benämning</td>
    </tr>
    <tr>
      <td>...</td>
      <td>PLAN ...</td>
      <td>Källarplan ...</td>
    </tr>
    <tr>
      <td>09</td>
      <td>PLAN -1</td>
      <td>Källarplan -1</td>
    </tr>
    <tr>
      <td>10</td>
      <td>PLAN 0</td>
      <td>Entréplan</td>
    </tr>
    <tr>
      <td>11</td>
      <td>PLAN 1</td>
      <td>Plan 1</td>
    </tr>
    <tr>
      <td>12</td>
      <td>PLAN 2</td>
      <td>Plan 2</td>
    </tr>
    <tr>
      <td>13</td>
      <td>PLAN 3</td>
      <td>Plan 3</td>
    </tr>
    <tr>
      <td>...</td>
      <td>PLAN ...</td>
      <td>Takplan</td>
    </tr>
  </tbody>
<table>
<p></p>
<p>Projektets arkitekt ansvarar för våningsplan och ska följa ovan systematik.</p>
