<h1 id="status-enligt-sb11">Status enligt SB11</h1>
<p>Statusfältet anger vilken status byggdelar på CAD-lagret har i produktionssituationen. Koderna är desamma som föreskrivs i lagerstandarden SS-ISO 13567 med tre tillägg markerade med * i tabell nedan.</p>
<p>Om fältet inte används anges understreck ( _ ), vilket är fallet vid nybyggnadsprojekt.</p>
<table class="marked-table">
  <tbody>
    <tr>
      <td>Status</td>
      <td>Beskrivning</td>
      <td>Anm.</td>
    </tr>
    <tr>
      <td>-</td>
      <td>Hela projektet</td>
      <td></td>
    </tr>
    <tr>
      <td>N</td>
      <td>Nytt (New)</td>
      <td></td>
    </tr>
    <tr>
      <td>E</td>
      <td>Befintliga byggdelar/anordningar som behållare (Existing)</td>
      <td></td>
    </tr>
    <tr>
      <td>R</td>
      <td>Byggdelar/anordningar som ska rivas; röjning (Removal)</td>
      <td></td>
    </tr>
    <tr>
      <td>O</td>
      <td>Byggdelar/anordningar som flyttas, ursprungligt läge (Orginal)</td>
      <td></td>
    </tr>
    <tr>
      <td>F</td>
      <td>Byggdelar/anordningar som flyttas, slutligt läge (Final)</td>
      <td></td>
    </tr>
    <tr>
      <td>U</td>
      <td>Återanvändning (to be reUsed)</td>
      <td>* Egen kod Delar som ska återanvändas kan ges status U i de fall man har behov av att skilja sådant som rives från det som demonteras</td>
    </tr>
    <tr>
      <td>T</td>
      <td>Tillfälliga byggdelar/anordningar, t.ex. tillfälliga vägar, broar (Temporary)</td>
      <td></td>
    </tr>
    <tr>
      <td>P</td>
      <td>Planerad (Prospective)</td>
      <td>* Ny kod</td>
    </tr>
    <tr>
      <td>A</td>
      <td>Anslutande (Adjacent)</td>
      <td>* Ny kod Används för att redovisa anslutande projekt, tillhårande annan entreprenad, etapp eller annan skiljelinje.</td>
    </tr>
  </tbody>
<table>
<p></p>
