<h1 id="coclass">CoClass</h1>
<p>CoClass innehåller tabeller för byggnadsverk, utrymmen, funktionella system, tekniska system, komponenter, produktionsresultat och egenskaper. Du hittar tabellerna på <a href="https://coclass.byggtjanst.se">CoClass webbplats</a>.</p>
