<h1 id="ansvarig-part">Ansvarig part</h1>
<p>Tabeller nedan redovisas beteckningar för ansvariga parter i livscykelinformationsprocessen. Beteckningar används främst i projektering och produktion.</p>
<p>Kompletteras vid behov av informationssamordnare.</p>
<p>Beteckning baseras helt eller delvis på SS32202:2011 och branschpraxis.</p>
<h2 id="projektörer">Projektörer</h2>
<p>Baseras på SS32202:2011 (Kap. 2.1.1)</p>
<table class="marked-table">
  <tbody>
    <tr>
      <td>Beteckning</td>
      <td>Roll</td>
      <td>SS32202</td>
      <td>Komplettering</td>
    </tr>
    <tr>
      <td>A</td>
      <td>Arkitekt</td>
      <td>x</td>
      <td></td>
    </tr>
    <tr>
      <td>AK</td>
      <td>Akustikprojektör</td>
      <td>x</td>
      <td></td>
    </tr>
    <tr>
      <td>BR</td>
      <td>Brandprojektör</td>
      <td>x</td>
      <td></td>
    </tr>
    <tr>
      <td>E</td>
      <td>Elprojektör</td>
      <td>x</td>
      <td></td>
    </tr>
    <tr>
      <td>F</td>
      <td>Förvaltare</td>
      <td>x</td>
      <td></td>
    </tr>
    <tr>
      <td>G</td>
      <td>Geotekniker</td>
      <td>x</td>
      <td></td>
    </tr>
    <tr>
      <td>H</td>
      <td>Hissprojektör</td>
      <td>x</td>
      <td></td>
    </tr>
    <tr>
      <td>I</td>
      <td>Inredningsarkitekt</td>
      <td>x</td>
      <td></td>
    </tr>
    <tr>
      <td>K</td>
      <td>Byggkonstruktör</td>
      <td>x</td>
      <td></td>
    </tr>
    <tr>
      <td>L</td>
      <td>Landskapsarkitekt</td>
      <td>x</td>
      <td></td>
    </tr>
    <tr>
      <td>M</td>
      <td>Markprojektör</td>
      <td>x</td>
      <td></td>
    </tr>
    <tr>
      <td>P</td>
      <td>Projekt- och entreprenadgemensamt</td>
      <td>x</td>
      <td></td>
    </tr>
    <tr>
      <td>R</td>
      <td>VA-projektör</td>
      <td>x</td>
      <td></td>
    </tr>
    <tr>
      <td>SK</td>
      <td>Storköksprojektör</td>
      <td>x</td>
      <td></td>
    </tr>
    <tr>
      <td>SPR</td>
      <td>Sprinklerprojektör</td>
      <td>x</td>
      <td></td>
    </tr>
    <tr>
      <td>SÖ alt. S</td>
      <td>Styr- och övervakningsprojektör</td>
      <td>x</td>
      <td></td>
    </tr>
    <tr>
      <td>T</td>
      <td>Trafik- och vägprojektör</td>
      <td>x</td>
      <td></td>
    </tr>
    <tr>
      <td>TG</td>
      <td>Tillgänglighetsprojektör</td>
      <td>x</td>
      <td></td>
    </tr>
    <tr>
      <td>V</td>
      <td>Ventilationsprojektör</td>
      <td>x</td>
      <td></td>
    </tr>
    <tr>
      <td>VA</td>
      <td>VA-projektör</td>
      <td>x</td>
      <td></td>
    </tr>
    <tr>
      <td>VS</td>
      <td>VS-projektör</td>
      <td>x</td>
      <td></td>
    </tr>
    <tr>
      <td>Z</td>
      <td>Mätning/geodesi</td>
      <td>x</td>
      <td></td>
    </tr>
  </tbody>
<table>
<p>Lista på samtliga beteckningar för projektörer</p>
<h2 id="entreprenörer">Entreprenörer</h2>
<p>Baseras på SS32202:2011 (Kap. 2.1.2)</p>
<table class="marked-table">
  <tbody>
    <tr>
      <td>Beteckning</td>
      <td>Roll</td>
      <td>SS32202</td>
      <td>Komplettering</td>
    </tr>
    <tr>
      <td>BE</td>
      <td>Byggentreprenör</td>
      <td>x</td>
      <td></td>
    </tr>
    <tr>
      <td>EE</td>
      <td>El-entreprenör</td>
      <td>x</td>
      <td></td>
    </tr>
    <tr>
      <td>GE</td>
      <td>Generalentreprenör</td>
      <td>x</td>
      <td></td>
    </tr>
    <tr>
      <td>HE</td>
      <td>Hissentreprenör</td>
      <td>x</td>
      <td></td>
    </tr>
    <tr>
      <td>KE</td>
      <td>Kylentreprenör</td>
      <td>x</td>
      <td></td>
    </tr>
    <tr>
      <td>ME</td>
      <td>Markentreprenör</td>
      <td>x</td>
      <td></td>
    </tr>
    <tr>
      <td>RE</td>
      <td>Rörentreprenör</td>
      <td>x</td>
      <td></td>
    </tr>
    <tr>
      <td>SE</td>
      <td>Styrentreprenör</td>
      <td>x</td>
      <td></td>
    </tr>
    <tr>
      <td>TE</td>
      <td>Totalentreprenör</td>
      <td>x</td>
      <td></td>
    </tr>
    <tr>
      <td>UE</td>
      <td>Underentreprenör</td>
      <td>x</td>
      <td></td>
    </tr>
    <tr>
      <td>VE</td>
      <td>Ventilationsentreprenör</td>
      <td>x</td>
      <td></td>
    </tr>
  </tbody>
<table>
<p>Lista på samtliga beteckningar för entreprenörer</p>
<h2 id="beställare-och-dess-medverkande">Beställare och dess medverkande</h2>
<p>Baseras på SS32202:2011 (Kap. 2.1.3)</p>
<table class="marked-table">
  <tbody>
    <tr>
      <td>Beteckning</td>
      <td>Roll</td>
      <td>SS32202</td>
      <td>Komplettering</td>
    </tr>
    <tr>
      <td>B</td>
      <td>Beställare</td>
      <td>x</td>
      <td></td>
    </tr>
    <tr>
      <td>BH</td>
      <td>Byggherre</td>
      <td>x</td>
      <td></td>
    </tr>
    <tr>
      <td>BK</td>
      <td>Byggkontrollant</td>
      <td>x</td>
      <td></td>
    </tr>
    <tr>
      <td>BL</td>
      <td>Byggledare</td>
      <td>x</td>
      <td></td>
    </tr>
    <tr>
      <td>BM</td>
      <td>Besiktningsman</td>
      <td>x</td>
      <td></td>
    </tr>
    <tr>
      <td>BO</td>
      <td>Beställarens ombud</td>
      <td>x</td>
      <td></td>
    </tr>
    <tr>
      <td>PL</td>
      <td>Projektledare</td>
      <td>x</td>
      <td></td>
    </tr>
  </tbody>
<table>
<p>Lista på samtliga beteckningar för beställare och dess medverkande</p>
<h2 id="kompletteringar-utöver-standard">Kompletteringar utöver standard</h2>
<p>Baseras på Nationella Riktlinjers rekommendationer och branschpraxis</p>
<table class="marked-table">
  <tbody>
    <tr>
      <td>Beteckning</td>
      <td>Roll</td>
      <td>SS32202</td>
      <td>Komplettering</td>
    </tr>
    <tr>
      <td>bPL</td>
      <td>Bitr. projektledare</td>
      <td></td>
      <td>x</td>
    </tr>
    <tr>
      <td>BPU</td>
      <td>BAS-P/U</td>
      <td></td>
      <td>x</td>
    </tr>
    <tr>
      <td>C, X eller BS</td>
      <td>BIM-/ Informationssamordning</td>
      <td></td>
      <td>x</td>
    </tr>
    <tr>
      <td>DL</td>
      <td>Digitaliseringsledare</td>
      <td></td>
      <td>x</td>
    </tr>
    <tr>
      <td>DS</td>
      <td>Dörrmiljösamordnare</td>
      <td></td>
      <td>x</td>
    </tr>
    <tr>
      <td>FS</td>
      <td>Fuktsakkunnig</td>
      <td></td>
      <td>x</td>
    </tr>
    <tr>
      <td>GAS alt. MedGAS</td>
      <td>Medicinska gaser</td>
      <td></td>
      <td>x</td>
    </tr>
    <tr>
      <td>InL</td>
      <td>Installationsledare</td>
      <td></td>
      <td>x</td>
    </tr>
    <tr>
      <td>InS</td>
      <td>Installationssamordnare</td>
      <td></td>
      <td>x</td>
    </tr>
    <tr>
      <td>Konst</td>
      <td>Konstenheten</td>
      <td></td>
      <td>x</td>
    </tr>
    <tr>
      <td>KP</td>
      <td>Konstruktör Prefab</td>
      <td></td>
      <td>x</td>
    </tr>
    <tr>
      <td>KRE</td>
      <td>Kraftentreprenör</td>
      <td></td>
      <td>x</td>
    </tr>
    <tr>
      <td>LU</td>
      <td>Leverantör utrustning</td>
      <td></td>
      <td>x</td>
    </tr>
    <tr>
      <td>MB</td>
      <td>Myndighetsbesiktning</td>
      <td></td>
      <td>x</td>
    </tr>
    <tr>
      <td>MI</td>
      <td>Miljösamordnare</td>
      <td></td>
      <td>x</td>
    </tr>
    <tr>
      <td>MT</td>
      <td>Medicinteknik</td>
      <td></td>
      <td>x</td>
    </tr>
    <tr>
      <td>PrL</td>
      <td>Projekteringsledare</td>
      <td></td>
      <td>x</td>
    </tr>
    <tr>
      <td>SÄK</td>
      <td>Säkerhet</td>
      <td></td>
      <td>x</td>
    </tr>
    <tr>
      <td>TF</td>
      <td>Teknisk förvaltare</td>
      <td></td>
      <td>x</td>
    </tr>
    <tr>
      <td>Verks</td>
      <td>Verksamhet</td>
      <td></td>
      <td>x</td>
    </tr>
  </tbody>
<table>
<p>Lista på samtliga beteckningar för nationella riktlinjers kompletteringar</p>
