<h1 id="innehåll-i-dokument">Innehåll i dokument</h1>
<p>Tabellen nedan redovisar koder för Innehåll i modeller och ritningar. Koderna är baserade på SS 32271:2016. Samt överensstämmer med BSAB-systemets byggdelstabell för de grupper som är markerade med ett kryss i kolumnen längst till höger.</p>
<table class="marked-table">
  <tbody>
    <tr>
      <td>Huvudgrupp</td>
      <td>Delgrupp</td>
      <td>Kod</td>
      <td>Kommentar</td>
      <td>BSAB96</td>
    </tr>
    <tr>
      <td>0 Sammansatt</td>
      <td>Sammansatt redovisning</td>
      <td>01</td>
      <td>Situationsplan, samordningsritningar</td>
      <td>X</td>
    </tr>
    <tr>
      <td>1 Undergrund, underbyggnad, skyddande lager i mark, grundkonstruktioner och stödkonstruktioner</td>
      <td>Sammansatt redovisning</td>
      <td>10</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td></td>
      <td>Schakt, terrassering</td>
      <td>11</td>
      <td>Inkluderar ofta delgrupp 12, 13 och 14</td>
      <td>X</td>
    </tr>
    <tr>
      <td></td>
      <td>Underbyggnad</td>
      <td>12</td>
      <td>Fyllningar</td>
      <td>X</td>
    </tr>
    <tr>
      <td></td>
      <td>Lager i mark för skydd av byggnadsverk</td>
      <td>13</td>
      <td></td>
      <td>X</td>
    </tr>
    <tr>
      <td></td>
      <td>Lager i mark för skydd av natur</td>
      <td>14</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td></td>
      <td>Grundkonstruktioner</td>
      <td>15</td>
      <td>Pålning, grundsulor</td>
      <td>X</td>
    </tr>
    <tr>
      <td></td>
      <td>Överbyggnader</td>
      <td>16</td>
      <td>Överbyggnader, nivåer och mått</td>
      <td>X</td>
    </tr>
    <tr>
      <td>2 Bärverk</td>
      <td>Sammansatt redovisning</td>
      <td>20</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td></td>
      <td>Platsgjuten betong</td>
      <td>21</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td></td>
      <td>Armering i platsgjuten betong</td>
      <td>22</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td></td>
      <td>Förtillverkad betong</td>
      <td>23</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td></td>
      <td>Stålkonstruktioner</td>
      <td>24</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td></td>
      <td>Träkonstruktioner</td>
      <td>25</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td></td>
      <td>Murverkskonstruktioner</td>
      <td>26</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>3 Överbyggnader och anläggningskompletteringar</td>
      <td>Sammansatt redovisning</td>
      <td>30</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td></td>
      <td>Överbyggnader</td>
      <td>31</td>
      <td>Överbyggnadstyper, nivåer och mått</td>
      <td>X</td>
    </tr>
    <tr>
      <td></td>
      <td>Anläggningskompletteringar</td>
      <td>32</td>
      <td>Trafik- och väganordningar, utrustning, växtmaterial m.m.</td>
      <td>X</td>
    </tr>
    <tr>
      <td>4 Rumsbildning</td>
      <td>Sammansatt redovisning</td>
      <td>40</td>
      <td>Planer, sektioner, fasader av husritningar</td>
      <td>X</td>
    </tr>
    <tr>
      <td></td>
      <td>Yttertak och ytterbjälklag</td>
      <td>41</td>
      <td>Inkl. luckor fönster o.d. i yttertak, taksäkerhet</td>
      <td>X</td>
    </tr>
    <tr>
      <td></td>
      <td>Yttervägg</td>
      <td>42</td>
      <td>Inkl. fönster, dörrar portar i yttervägg</td>
      <td>X</td>
    </tr>
    <tr>
      <td></td>
      <td>Inre rumsbildande byggdelar</td>
      <td>43</td>
      <td>Inkl. innerdörrar, partier, luckor m.m. inomhus, golvkonstruktioner, undertak</td>
      <td>X</td>
    </tr>
    <tr>
      <td></td>
      <td>Invändiga ytskikt</td>
      <td>44</td>
      <td>Golvbeläggningar, väggbeklädnader</td>
      <td>X</td>
    </tr>
    <tr>
      <td></td>
      <td>Huskompletteringar</td>
      <td>45</td>
      <td>Balkonger, loftgångar, skärmtak, entré-trappor, invändiga trappor, skyltning</td>
      <td>X</td>
    </tr>
    <tr>
      <td></td>
      <td>Rumskompletteringar</td>
      <td>46</td>
      <td>Fast och lös inredning, utrustning. Storkök och liknande specialinredningar</td>
      <td>X</td>
    </tr>
    <tr>
      <td></td>
      <td>Övrigt</td>
      <td>49</td>
      <td></td>
      <td>X</td>
    </tr>
    <tr>
      <td>5 VA-, VVS-, kyla</td>
      <td>Sammansatt redovisning av va-, vvs-, kyl- och processmediesystem</td>
      <td>50</td>
      <td>Används när flera system ritas på samma ritning .t.ex. både tappvatten och avlopp</td>
      <td>X</td>
    </tr>
    <tr>
      <td></td>
      <td>VA m.m. i mark utanför hus</td>
      <td>51</td>
      <td>Vattenlednings-, avlopps-, fjärrvärme-, gasnät mm.</td>
      <td>(X)</td>
    </tr>
    <tr>
      <td></td>
      <td>Försörjningssystem</td>
      <td>52</td>
      <td>Tappvatten, ånga, gas m.m.</td>
      <td>X</td>
    </tr>
    <tr>
      <td></td>
      <td>Avloppsvattensystem m.m.</td>
      <td>53</td>
      <td>Avlopp, dammsugning, soptransport m.m.</td>
      <td>X</td>
    </tr>
    <tr>
      <td></td>
      <td>Brandsläckningssystem</td>
      <td>54</td>
      <td></td>
      <td>X</td>
    </tr>
    <tr>
      <td></td>
      <td>Kylsystem</td>
      <td>55</td>
      <td></td>
      <td>X</td>
    </tr>
    <tr>
      <td></td>
      <td>Värmesystem</td>
      <td>56</td>
      <td></td>
      <td>X</td>
    </tr>
    <tr>
      <td></td>
      <td>Luftbehandlingssystem</td>
      <td></td>
      <td>57</td>
      <td>X</td>
    </tr>
    <tr>
      <td>6 El- och telesystem</td>
      <td>Sammansatt redovisning av el- och telesystem</td>
      <td>60</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td></td>
      <td>El- och telekanalisation</td>
      <td>61</td>
      <td></td>
      <td>X</td>
    </tr>
    <tr>
      <td></td>
      <td>Elkraftssystem</td>
      <td>63</td>
      <td>Transformator, ställverk, belysning, motor, elvärme m.m.</td>
      <td>X</td>
    </tr>
    <tr>
      <td></td>
      <td>Telesystem</td>
      <td>64</td>
      <td>Telefon, larm, signalsystem, datanät m.m.</td>
      <td>X</td>
    </tr>
    <tr>
      <td></td>
      <td>System för spänningsutjämning och elektrisk separation</td>
      <td>66</td>
      <td></td>
      <td>X</td>
    </tr>
    <tr>
      <td>7 TRANSPORTSYSTEM M M</td>
      <td>Hissystem</td>
      <td>71</td>
      <td></td>
      <td>X</td>
    </tr>
    <tr>
      <td></td>
      <td>Rulltrapps- och rullrampssystem</td>
      <td>73</td>
      <td></td>
      <td>X</td>
    </tr>
    <tr>
      <td></td>
      <td>Kransystem</td>
      <td>74</td>
      <td></td>
      <td>X</td>
    </tr>
    <tr>
      <td></td>
      <td>Rörpostsystem</td>
      <td>75</td>
      <td></td>
      <td>X</td>
    </tr>
    <tr>
      <td></td>
      <td>System med maskindriven port, grind, dörr m.m.</td>
      <td>76</td>
      <td></td>
      <td>X</td>
    </tr>
    <tr>
      <td>8 STYR OCH ÖVERVAKNING</td>
      <td>Styr- och övervakningssystem för fastighetsdrift</td>
      <td>81</td>
      <td></td>
      <td>X</td>
    </tr>
    <tr>
      <td></td>
      <td>Styr- och övervakningssystem för processinstallationer</td>
      <td>82</td>
      <td></td>
      <td>X</td>
    </tr>
    <tr>
      <td>9 ÖVRIGT</td>
      <td>Fri för projektspecifik tillämpning</td>
      <td>99</td>
      <td>Kan användas för brand, säkerhet, ytredovisning etc.</td>
      <td></td>
    </tr>
  </tbody>
<table>
<p></p>
