<h1 id="detaljeringsgrad-lod">Detaljeringsgrad (LOD)</h1>
<p>Följande värdelista är en del av metoden Informationsbeteckning- och beskrivning som ger svenska anvisningar för tillämpning av <strong>prEN 17412-1 Building Information Modelling – Level of Information Need – Concepts and principles</strong>. Det visar hur man i en leverans­specifikation ger informationsleveransen en beteckning som övergripande beskriver inne­hållet, och sedan i detalj beskriver innehållet.</p>
<p>Geometrisk information som ingår i en leverans kan specificeras med avseende på <strong>dimensionalitet</strong> (obligatorisk), <strong>utseende</strong> (om efterfrågad), <strong>detaljeringsgrad</strong> (om efterfrågad), <strong>lokalisering</strong> (obligatorisk) och <strong>parametriskt beteende</strong> (om efterfrågat).</p>
<table class="marked-table">
  <tbody>
    <tr>
      <td>Beteckning</td>
      <td>Förklaring</td>
    </tr>
    <tr>
      <td>LOD0</td>
      <td>Dimensionalitet 2DY eller 3DY. Detta motsvaras av metoden ”förenklat ritsätt”, som i plan visar objektets ytterkonturer, och används i ytmodeller i 2D och 3D och i planritningar.</td>
    </tr>
    <tr>
      <td>LOD1</td>
      <td>LOD1 Dimensionalitet 3DY eller 3DS. Detta kan användas för tidiga 3D-studier, och för samordning mellan teknikområden (kollisions­kontroll).</td>
    </tr>
    <tr>
      <td>LOD2</td>
      <td>LOD2 Dimensionalitet 3DY eller 3DS som visar objektets alla huvudsakliga ytor. Samma användning som LOD1, och i anläggningsprojektering som visar volymer eller kroppar.</td>
    </tr>
    <tr>
      <td>LOD3</td>
      <td>LOD3 Dimensionalitet 3DY eller 3DS som visar objektets alla utvändigt synliga delar. Samma användning som LOD1.</td>
    </tr>
    <tr>
      <td>LOD4</td>
      <td>LOD4 Dimensionalitet 3DS som visar objektets alla delar, inklusive inre uppbyggnad. CAD-modeller för arkitektur och konstruktion har denna nivå.</td>
    </tr>
  </tbody>
<table>
<p></p>
